.tre-main {border:none; padding:0 1px 1px; background-color:white}

.tre-main iframe {border:1px solid #999; margin:0; padding:0;}

.tre-main textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:10pt Arial,Verdana; resize:none; outline:none }

.tre-button-bar ul  { list-style-type:none; padding:0px; margin:0px;}

.tre-separator {float:left; width:1px; height:23px; margin:1px 0 1px 0; }

.tre-button { float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('images/buttons.gif')}

