.tre-main {border:none; padding:0 1px 1px; background-color:white}

.tre-main iframe {border:1px solid #999; margin:0; padding:0;}

.tre-main textarea {border:1px solid #999; margin:0px; padding:4px; font:10pt Arial,Verdana; }

.tre-button-bar ul  { list-style-type:none; padding:0px; margin:0px; cursor:hand;}

.tre-separator {float:left; width:1px; height:23px; margin:1px 0 1px 0; }

.tre-button { float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('images/buttons.gif')}

.tre-hover { background-color:#DEE7F7; }

.tre-disabled {opacity:0.3; filter:alpha(opacity=30)}

